body {
    width: 100%;
    line-height: 1.4;
    alignment: center;
    display: block;
    margin:0;
    padding:0;
}

a img {
    width: 800px;
    height: 800px;
    display: inline-block;
}

p, h1 {
    display: block;
    width: 1200px;
    font: 30px "Courier New", monospace;
}

a {
    display: inline-block;
    width: 800px;
}

div {
    margin: 0;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    alignment: center;
    display: block;
}

.content {
    width: 560px;
    font-size: 28pt;
    display: inline-block;
    padding-bottom: 0;
}

.content-right {
    display: inline-block;
    width: 100px;
}

.text {
    font: 32px "Courier New", monospace;
}

.quote {
    font-size: 40px;
}

.page {
    padding: 0;
}

h1 {
    font-size: 42px;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: black;
}

.red {
    background: black;
    color: red;
}

.blue {
    background: #1B2E91;
    color: white;
}

.black {
    background: black;
    color: white;
}

.contact {
    position: absolute;
    right: 30px;
    padding: 0;
    text-align: left;
    width: 300px;
}

.contact-parent {
    height: 150px;
}

.hide {
    display: none;
}
